@import 'tailwindcss';
@import './base.css';

* {
  box-sizing: border-box;
  font-family: 'kanit', sans-serif;
}

.btn-cta {
  background-color: var(--color-orange);
  color: white;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin: 10px;
  height: 55px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-cta:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease;
  opacity: 0.9;
}

.btn-no-cta {
  background-color: transparent;
  color: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 20px;
  width: 100px;
  margin: 10px;
  height: 55px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-no-cta:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease;
  opacity: 0.9;
}
